body {
    background: black;
}
#titleScreen {
    position:absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}

#backgroundImage {
    position: relative;
    width: 100vw;
    height: 210px;
}